#homepage{
    padding: 0 15px;
    position: relative;
    @include mediaQ(desktop,500px){
      margin: 60px 0;
    }
      
}

.view{
    &__scroll-container{

        overflow: hidden scroll;
        &::-webkit-scrollbar{

            display: none;
        }
        .loading{
            width:100%;
            max-width: 200px;
            min-width: 200px;
            margin: 50px auto;
            border-radius: 100%;
            padding: 5rem 2rem;
            backface-visibility: hidden;
            animation: loading 2s infinite;
            &__title{
                font-size: 32px;
            }
        }
    }
    &__hidden{
        overflow: hidden;
    }
}

@keyframes loading {
  0% {
    border: red solid 1rem;
  }
  50% {
    border: blue solid 1rem;
  }
  100% {
    border: green solid 1rem;
  }
}